{% extends 'control_panel/members/base.html' %}

{% block admin_title %}
    Edit Member
{% endblock %}

{% block admin_css_link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='layouts/css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layouts/css/control_panel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layouts/css/members/edit_member.css') }}">
{% endblock %}

{% block admin_content %}
    <body>
        {% with args=[session['fullname'], dictionary, 'members', session['user_id']] %}
            {% include 'control_panel/navbar.html' %}
        {% endwith %}

        <h1 class="text-center">{{ dictionary['EDIT_MEMBER'] }}</h1>
        <div class="container ">
            {% if edit_done == 'True' %}
                <div class="alert alert-success" role="alert">
                {{ dictionary['UPDATE_USER_DONE_MSG'] }} :)
                </div>
            {% elif edit_done == 'False' %}
                {% if err_msg %}
                    <div class="alert alert-danger" role="alert">
                    {{ err_msg }} :(
                    </div>
                    {% if note %}
                        <div class="alert alert-warning" role="alert">
                        {{ note }}
                        </div>
                    {% endif %}
                {% else %}
                    <div class="alert alert-danger" role="alert">
                    {{ dictionary['UPDATE_USER_FAILED_MSG'] }} :(
                    </div>
                {% endif %}
            {% endif %}
            <form action="members/edit_member" method="POST" class="form-horizontal">
                <input type="hidden" name="user_id" value="{{ user_id }}" />
                <!-- username field -->
                <div class="form-group row" style="padding-bottom: 15px;">
                    <label class="col-sm-2 col-form-label">{{ dictionary['USERNAME'] }}</label>
                    <div class="col-sm-10">
                        <input type="text" name="username" class="form-control form-control-lg" autocomplete="off" value="{{ user_data[1] }}" required />
                        <span class="required">*</span>
                    </div>
                </div>
                <!-- password field -->
                <div class="form-group row" style="padding-bottom: 15px;">
                    <label class="col-sm-2 col-form-label">{{ dictionary['PASSWORD'] }}</label>
                    <div class="col-sm-10">
                        <input type="password" name="password" class="form-control form-control-lg" autocomplete="new-password" placeholder="{{ dictionary['LEAVE_PASSWORD_EMPTY'] }}" />
                    </div>
                </div>
                <!-- email field -->
                <div class="form-group row" style="padding-bottom: 15px;">
                    <label class="col-sm-2 col-form-label">{{ dictionary['EMAIL'] }}</label>
                    <div class="col-sm-10">
                        <input type="email" name="email" class="form-control form-control-lg" value="{{ user_data[3] }}" required />
                        <span class="required">*</span>
                    </div>
                </div>
                <!-- full name field -->
                <div class="form-group row" style="padding-bottom: 15px;">
                    <label class="col-sm-2 col-form-label">{{ dictionary['FULL_NAME'] }}</label>
                    <div class="col-sm-10">
                        <input type="text" name="fullname" class="form-control form-control-lg" value="{{ user_data[4] }}" required />
                        <span class="required">*</span>
                    </div>
                </div>
                <!-- submit field -->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" value="{{ dictionary['SAVE'] }}" class="btn btn-primary btn-lg" />
                    </div>
                </div>
            </form>
        </div>
    </body>
{% endblock %}
