{% extends 'control_panel/members/base.html' %}

{% block admin_title %}
    Categories
{% endblock %}

{% block admin_css_link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='layouts/css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layouts/css/control_panel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layouts/css/categories/categories.css') }}">
{% endblock %}

{% block admin_content %}
    <body>
        {% with args=[session['fullname'], dictionary, 'categories', session['user_id']] %}
            {% include 'control_panel/navbar.html' %}
        {% endwith %}
        <h1 class="text-center">{{ dictionary['MANAGE_CATEGORIES'] }}</h1>
        <div class="container categories">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ dictionary['MANAGE_CATEGORIES'] }}
                    <div class="ordering pull-right">
                        Ordering:&nbsp;
                        {% if sort == 'ASC' %}
                            <a class="active" href="?sort=ASC">ASC</a>&nbsp;|
                            <a href="?sort=DESC">DESC</a>
                        {% else %}
                            <a href="?sort=ASC">ASC</a>&nbsp;|
                            <a class="active" href="?sort=DESC">DESC</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="panel panel-body">
                {% for i in categories %}
                    <div class="category">
                        <div class="hidden-buttons">
                            <a href="?do=edit&category_id={{ i[0] }}" class="btn btn-xs btn-info">
                                <i class="fa fa-edit"></i>&nbsp;
                                {{ dictionary['EDIT'] }}
                            </a>
                            <a href="#" class="btn btn-xs btn-danger">
                                <i class="fa fa-times"></i>&nbsp;
                                {{ dictionary['DELETE'] }}
                            </a>
                        </div>
                        <h3>{{ i[1] }}</h3>
                        <p>{{ i[2] }}</p>
                        {% if i[4] == 0 %}
                            <span class="visibility">{{ dictionary['HIDDEN'] }}</span>
                        {% endif %}
                        {% if i[5] == 0 %}
                            <span class="commenting">{{ dictionary['COMMENTS_DISABLED'] }}</span>
                        {% endif %}
                        {% if i[6] == 0 %}
                            <span class="ads">{{ dictionary['ADS_DISABLED'] }}</span>
                        {% endif %}
                    </div>
                    <hr />
                {% endfor %}
            </div>
            <a href="?do=add" class="btn btn-primary" style="margin-top: 15px; margin-bottom: 20px;"><i class="fa fa-plus"></i> {{ dictionary['NEW_CATEGORY'] }}</a>
        </div>
    </body>
{% endblock %}
