{% extends 'control_panel/base.html' %}

{% block admin_title %}
    Dashboard
{% endblock %}

{% block admin_css_link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='layouts/css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layouts/css/control_panel.css') }}">
{% endblock %}

{% block admin_content %}
    {% if dictionary['lang'] == 'ar' %}
        <style>* {direction: rtl;}</style>
    {% else %}
        <style>* {direction: ltr;}</style>
    {% endif %}

    <body dir="rtl">
        {% with args=[ session['fullname'], dictionary] %}
            {% include 'control_panel/navbar.html' %}
        {% endwith %}

        <p>{{ dictionary['WELCOME'] }} {{ session['fullname'] }}</p>
    </body>
{% endblock %}
