{% extends 'control_panel/members/base.html' %}

{% block admin_title %}
    Dashboard
{% endblock %}

{% block admin_css_link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='layouts/css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layouts/css/control_panel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layouts/css/dashboard.css') }}">
{% endblock %}

{% block admin_content %}
    <body>
        {% with args=[session['fullname'], dictionary, 'dashboard', user_id] %}
            {% include 'control_panel/navbar.html' %}
        {% endwith %}

        <div class="container home-stats text-center">
            <h1>Dashboard</h1>
            <div class="row">
                <div class="col-md-3">
                    <div class="stat st-members">
                        <i class="fa fa-users"></i>
                        <div class="info">
                            {{ dictionary['TOTAL_MEMBERS'] }}
                            <span><a href="/admin/members">{{ users_count }}</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="stat st-pending">
                        <i class="fa fa-user-plus"></i>
                        <div class="info">
                            {{ dictionary['PENDING_MEMBERS'] }}
                            <span><a href="/admin/members?do=pending">{{ pending_users_count }}</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="stat st-items">
                        <i class="fa fa-tag"></i>
                        <div class="info">
                            {{ dictionary['TOTAL_ITEMS'] }}
                            <span><a href="/admin/items">{{ items_count }}</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="stat st-comments">
                        <i class="fa fa-comments"></i>
                        <div class="info">
                            {{ dictionary['TOTAL_COMMENTS'] }}
                            <span><a href="/admin/items">0</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container latest">
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-users"></i> {{ dictionary['LATEST_REGISTERED_USERS'] }}
                            <span class="toggle-info pull-right">
                                <i class="fa fa-plus fa-lg"></i>
                            </span>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled latest-users">
                                {% for i in latest_users %}
                                    <li>
                                        {{ i[1] }}&nbsp;
                                        <span class="btn btn-info pull-right">
                                            <i class="fa fa-edit"></i>&nbsp;
                                            <a href="/admin/members?do=edit&user_id={{ i[0] }}">{{ dictionary['EDIT'] }}</a>
                                        </span>
                                        {% if i[2] == 0 %}
                                            <span class="btn btn-success pull-right">
                                                <i class="fa fa-check"></i>&nbsp;
                                                <a href="/admin/members?do=activate&user_id={{ i[0] }}">{{ dictionary['ACTIVATE'] }}</a>
                                            </span>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-tag"></i> {{ dictionary['LATEST_ITEMS'] }}
                            <span class="toggle-info pull-right">
                                <i class="fa fa-plus fa-lg"></i>
                            </span>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled latest-users">
                                {% for i in latest_items %}
                                    <li>
                                        {{ i[1] }}&nbsp;
                                        <span class="btn btn-info pull-right">
                                            <i class="fa fa-edit"></i>&nbsp;
                                            <a href="/admin/items?do=edit&item_id={{ i[0] }}">{{ dictionary['EDIT'] }}</a>
                                        </span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}

{% block admin_scripts_link %}
    <script src="{{ url_for('static', filename='layouts/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='layouts/js/dashboard.js') }}"></script>
{% endblock %}
