{% extends 'control_panel/base.html' %}

{% block admin_title %}
    Members
{% endblock %}

{% block admin_css_link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='layouts/css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layouts/css/control_panel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layouts/css/members.css') }}">
{% endblock %}

{% block admin_content %}
    <body>
        {% with args=[session['fullname'], dictionary, 'members', session['user_id']] %}
            {% include 'control_panel/navbar.html' %}
        {% endwith %}
        <h1 class="text-center">{{ dictionary['MANAGE_MEMBERS'] }}</h1>
        <div class="container">
            {% if deleted != None %}
                {% if dictionary['lang'] == 'en' %}
                    <div class="alert alert-success" role="alert">
                      {{ deleted }} {{ dictionary['USER_DELETED'] }} :)
                    </div>
                {% else %}
                    <div class="alert alert-success" role="alert">
                      :) {{ dictionary['USER_DELETED'] }} {{ deleted }} {{ dictionary['USERS'] }}
                    </div>
                {% endif %}
            {% endif %}
            {% if activated != None %}
                {% if dictionary['lang'] == 'en' %}
                    <div class="alert alert-success" role="alert">
                      {{ activated }} {{ dictionary['USER_ACTIVATED'] }} :)
                    </div>
                {% else %}
                    <div class="alert alert-success" role="alert">
                      :) {{ dictionary['USER_ACTIVATED'] }} {{ activated }} {{ dictionary['USERS'] }}
                    </div>
                {% endif %}
            {% endif %}
            <div class="table-responsive">
                <table class="main-table text-center table table-bordered">
                    <tr>
                        <td>#ID</td>
                        <td>{{ dictionary['USERNAME'] }}</td>
                        <td>{{ dictionary['EMAIL'] }}</td>
                        <td>{{ dictionary['FULL_NAME'] }}</td>
                        <td>{{ dictionary['REGISTRATION_DATE'] }}</td>
                        <td>{{ dictionary['CONTROL'] }}</td>
                    </tr>
                    {% if pending == False %}
                        {% for i in users %}
                            <tr>
                                <td>{{ i[0] }}</td>
                                <td>{{ i[1] }}</td>
                                <td>{{ i[2] }}</td>
                                <td>{{ i[3] }}</td>
                                <td>{{ i[4] }}</td>
                                <td>
                                    <a href="?do=edit&user_id={{ i[0] }}" class="btn btn-success"><i class="fa fa-edit"></i> {{ dictionary['EDIT'] }}</a>
                                    <a href="?do=delete&user_id={{ i[0] }}" class="btn btn-danger activate"><i class="fa fa-times"></i> {{ dictionary['DELETE'] }}</a>
                                    {% if i[5] == 0 %}
                                        <a href="?do=activate&user_id={{ i[0] }}" class="btn btn-info activate"><i class="fa fa-check"></i> {{ dictionary['ACTIVATE'] }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        {% for i in users %}
                            {% if i[5] == 0 %}
                                <tr>
                                    <td>{{ i[0] }}</td>
                                    <td>{{ i[1] }}</td>
                                    <td>{{ i[2] }}</td>
                                    <td>{{ i[3] }}</td>
                                    <td>{{ i[4] }}</td>
                                    <td>
                                        <a href="?do=edit&user_id={{ i[0] }}" class="btn btn-success"><i class="fa fa-edit"></i> {{ dictionary['EDIT'] }}</a>
                                        <a href="?do=delete&user_id={{ i[0] }}" class="btn btn-danger activate"><i class="fa fa-times"></i> {{ dictionary['DELETE'] }}</a>
                                        <a href="?do=activate&user_id={{ i[0] }}" class="btn btn-info activate"><i class="fa fa-check"></i> {{ dictionary['ACTIVATE'] }}</a>

                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
            <a href="?do=add" class="btn btn-primary"><i class="fa fa-plus"></i> {{ dictionary['NEW_MEMBER'] }}</a>
        </div>
    </body>
{% endblock %}
