{% extends 'control_panel/base.html' %}

{% block admin_title %}
    Members
{% endblock %}

{% block admin_css_link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='layouts/css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layouts/css/control_panel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layouts/css/members.css') }}">
{% endblock %}

{% block admin_content %}
    <body>
        {% with args=[session['fullname'], dictionary, 'members'] %}
            {% include 'control_panel/navbar.html' %}
        {% endwith %}
        <p>Welcome to manage members page</p>
        <a href="?do=add">Add new member</a>
    </body>
{% endblock %}
