/* start members page */

h1 {
    font-size: 55px;
    margin: 40px 0;
    font-weight: bold;
    color: #666;
}

.main-table {
    -webkit-box-shadow: 3px  3px 10px #CCC;
}

.main-table tr:first-child td {
    background-color: #333;
    color: #FFF;
}

.main-table td {
    background-color: #FFF;
    vertical-align: middle !important;
}

.main-table .btn {
    padding: 3px 10px;
}

/* end members page */
